.blog-listing .item {
    margin: 0 auto 43px;
    text-align: left;
    position: relative;
}
.blog-listing .item .image {
    width: 100%;
    min-height:100px;
    overflow: hidden;
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.blog-listing .item .image img {
    width: 100%;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility:    hidden;
    -ms-backface-visibility:     hidden;
}
.blog-listing .item .image a {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: block;
    background-color: rgba(123, 99, 134, 0.8);
    border: 0px solid transparent;
    z-index: 9;
    text-align: center;
    visibility: hidden;
    text-decoration: none;
    -webkit-box-shadow: inset 0px 0px 0px 2px rgba(255, 255, 255, 0.5);
    -moz-box-shadow: inset 0px 0px 0px 2px rgba(255, 255, 255, 0.5);
    box-shadow: inset 0px 0px 0px 2px rgba(255, 255, 255, 0.5);
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.blog-listing .item .image a .btn {
    margin-top: -17px;
    position: relative;
    top: 100%;
}
.blog-listing .item .image:hover img {
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -o-transform: scale(1.3);
    transform: scale(1.3);
}
.blog-listing .item .image:hover > a {
    visibility: visible;
    border: 15px solid transparent;
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
}
.blog-listing .item .image:hover > a .btn {
    top: 49%;
}
.blog-listing .item .info-blog {
    padding: 25px 12px;
}
.blog-listing .item .info-blog h3 {
    padding-bottom: 20px;
    margin-bottom: 30px;
    font-size:25px;
    position: relative;
    border-bottom: 1px solid rgba(123, 99, 134, 0.5);
    text-align: left;
    width: 100%;
}
.blog-listing .item .info-blog h3::after {
    content: "";
    width: 82px;
    height: 5px;
    position: absolute;
    left: 0;
    bottom: -3px;
    background-color: #7b6386;
    -webkit-opacity: 0.8;
    -moz-opacity: 0.8;
    opacity: 0.8;
}
.blog-listing .item .info-blog h3::before {
    content: "";
    clear: both;
    display: table;
}
.blog-listing .item .info-blog h3 a {
    color: #7b6386;
}
.blog-listing .item .info-blog h3 a:hover {
    text-decoration: none;
    color: #66686c;
}
.blog-listing .item .info-blog h3 small {
    display: block;
    font-style: italic;
    margin-top: 4px;
}
.blog-listing .item .bottom-info {
    padding: 10px;
    margin: 30px 0 15px;
    border: 1px solid #E4E4E4;
    font-size: 13px;
    background-color: #F9FaFC;
    color: #adb1b5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.blog-listing .item .bottom-info li {
    display: inline-block;
    margin-right: 14px;
}
.blog-listing .item .bottom-info li:last-child {
    margin-right: 0px;
}
.blog-listing .item .bottom-info li i {
    margin-right: 5px;
}
.blog-listing .item .bottom-info li a {
    color: #adb1b5;
}
.blog-listing .item .bottom-info li a:hover {
    color: #66686c;
}
.blog-listing .item.disabled {
    display: none;
}
.blog-listing .date,
.blog-main-image .date {
    position: absolute;
    z-index: 10;
    top: -10px;
    left: 6px;
}
.blog-listing .ribbon,
.blog-main-image .ribbon {
    padding: 5px 10px;
    margin: 0;
    position: relative;
    color: #7b6386;
    text-align: center;
    background: #fff;
    display: inline-block;
    font-size: 35px;
    line-height: 28pt;
    font-family: 'Open Sans Condensed', sans-serif;
    border: 3px solid #7b6386;
    text-transform: uppercase;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.blog-listing .ribbon small,
.blog-main-image .ribbon small {
    font-size:25px;
}
.blog-listing .ribbon::before,
.blog-main-image .ribbon::before,
.blog-listing .ribbon::after,
.blog-main-image .ribbon::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -13px;
    right: -38px;
    z-index: -1;
    font-family: "lilac" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 44pt;
    content: "f";
}
.blog-listing .ribbon::after,
.blog-main-image .ribbon::after {
    content: "h";
    color: #fff;
    z-index: -2;
    font-size: 42pt;
    bottom: -12px;
    right: -37px;
}
.pagination {
    text-align: center;
    padding: 15px 0;
    display: inline-block;
    width: 100%;
    margin: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.pagination ul {
    list-style: none;
    display: inline-block;
    padding: 0;
    margin: 0 5px;
}
.pagination ul > li {
    display: inline-block;
    width: 48px;
    height: 43px;
    text-align: center;
    line-height: 43px;
    float: left;
    -webkit-transition: background-color 0.2s ease-out;
    -moz-transition: background-color 0.2s ease-out;
    -ms-transition: background-color 0.2s ease-out;
    -o-transition: background-color 0.2s ease-out;
    transition: background-color 0.2s ease-out;
    font-size: 12pt;
    border: 1px solid #e4e4e4;
}
.pagination ul > li a {
    display: block;
    width: 48px;
    height: 43px;
    color: #66686c;
}
.pagination ul > li a:hover,
.pagination ul > li a:focus {
    text-decoration: none;
}
.pagination ul li:first-child {
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
    margin-right: 10px;
}
.pagination ul li:last-child {
    -webkit-border-top-right-radius: 4px;
    -moz-border-top-right-radius: 4px;
    border-top-right-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    -moz-border-bottom-right-radius: 4px;
    border-bottom-right-radius: 4px;
    margin-left: 10px;
}
.pagination ul li:hover,
.pagination ul li.active {
    background-color: #f9fafc;
}
.sidebar h2 {
    padding: 15px 0 20px;
    margin: 50px 4% 15px;
    position: relative;
    border-bottom: 1px solid rgba(123, 99, 134, 0.5);
    text-align: left;
}
.sidebar h2::after {
    content: "";
    width: 22%;
    height: 5px;
    position: absolute;
    left: 0;
    bottom: -3px;
    background-color: #7b6386;
    -webkit-opacity: 0.8;
    -moz-opacity: 0.8;
    opacity: 0.8;
    -webkit-transition: width 0.3s;
    -moz-transition: width 0.3s;
    -ms-transition: width 0.3s;
    -o-transition: width 0.3s;
    transition: width 0.3s;
}
.sidebar h2::before {
    background-color: transparent;
}
.sidebar h2 small {
    display: block;
    color: #adb1b5;
    font-size: 17pt;
}
.sidebar h2:hover::after {
    width: 32%;
}
.sidebar h2:first-child {
    margin-top: 0;
    padding-top: 0;
}
.categories {
    list-style: none;
    padding: 0 15px;
}
.categories li {
    margin: 8px 0;
}
.categories li:before {
    content: "\f054";
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-right: 10px;
}
.categories li a {
    color: #66686c;
    padding-top: 8px;
    display: inline-block;
}
.categories li a span {
    color: #adb2b6;
}
.categories li a:hover {
    color: #7b6386;
    text-decoration: none;
}
.categories li a:hover span {
    color: #7b6386;
}
.categories li:hover:before {
    color: #7b6386;
}
.categories li + li {
    border-top: 1px solid #e3e3e3;
}
.blog-accordion {
    margin-bottom: 50px;
}
.blog-accordion.panel-group {
    border: none !important;
    margin-bottom: 0 !important;
}
.blog-accordion.panel-group .panel {
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border-bottom: 1px solid #e4e4e4;
}
.blog-accordion.panel-group .panel .panel-heading .panel-title > a {
    background-color: transparent !important;
}
.blog-accordion.panel-group .panel .panel-heading .panel-title > a:hover,
.blog-accordion.panel-group .panel .panel-heading .panel-title > a:focus {
    text-decoration: none;
}
.blog-accordion.panel-group .panel .panel-heading .panel-title > a:after {
    display: none !important;
}
.blog-accordion.panel-group .panel .panel-heading + .panel-collapse.collapsing .panel-body,
.blog-accordion.panel-group .panel .panel-heading + .panel-collapse.collapsing .panel-body,
.blog-accordion.panel-group .panel .panel-heading + .panel-collapse.in .panel-body,
.blog-accordion.panel-group .panel .panel-heading + .panel-collapse.in .panel-body {
    background-color: transparent !important;
}
.blog-accordion.panel-group .panel .panel-body {
    padding-top: 0;
    border: 0;
}
.blog-accordion.panel-group .panel .panel-body ul {
    list-style: none;
    padding: 0 0 0 15px;
    margin: 0;
}
.blog-accordion.panel-group .panel .panel-body ul li {
    margin: 8px 0;
}
.blog-accordion.panel-group .panel .panel-body ul li:before {
    content: "\f054";
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-right: 10px;
}
.blog-accordion.panel-group .panel .panel-body ul li a {
    color: #66686c;
}
.blog-accordion.panel-group .panel .panel-body ul li a:hover {
    color: #7b6386;
    text-decoration: none;
}
.blog-accordion.panel-group .panel .panel-body ul li:hover:before {
    color: #7b6386;
}
.tags {
    list-style: none;
    margin: 0 0 40px;
}
.tags li {
    display: inline-block;
    margin: 3px 1px;
}
.tags li a {
    color: #66686c;
    display: block;
    padding: 6px 9px;
    background-color: #f1f3f6;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}
.tags li a:hover {
    background-color: #7b6386;
    color: #fff;
    text-decoration: none;
}
.blog-title {
    position: relative;
    text-transform: none;
    font-size: 24pt;
    margin-bottom: 60px;
    margin-top: 150px;
    padding-bottom: 20px;
    text-align: center;
    font-size: 50px;
}
.blog-title::before {
    background-color: #7b6386;
    bottom: 0;
    content: "";
    height: 1px;
    left: 38%;
    opacity: 0.5;
    position: absolute;
    width: 24%;
}
.blog-title::after {
    background-color: #7b6386;
    bottom: -1px;
    content: "";
    height: 3px;
    left: 45%;
    opacity: 0.5;
    position: absolute;
    width: 10%;
}
.blog-main-image {
    position: relative;
    margin-bottom: 20px;
    min-height:100px;
}
.blog-main-image img {
    max-width: 100%;
}
.blog-main-image .date {
    left: -7px;
}
.blog-bottom-info {
    width: 100%;
    text-align: left;
    margin: 0;
    margin-bottom: 80px;
    border: 1px solid #e3e3e3;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    clear: both;
}
.blog-bottom-info > ul {
    list-style: none;
    padding: 8px 0;
    margin: 0;
    background-color: #f9fafc;
    display: inline-block;
    border-right: 1px solid #e3e3e3;
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
}
.blog-bottom-info > ul li {
    display: inline-block;
    height: 38px;
    margin: 0;
    padding: 8px 16px 0;
    border-right: 1px solid #E4E4E4;
    color: #66686c;
}
.blog-bottom-info > ul li a:hover{
    color: #adb1b5 !important;
}
.blog-bottom-info > ul li:last-child {
    border-right: none;
}
.blog-bottom-info > ul li .fa {
    color: #adb2b6;
    font-size: 18px;
    margin-right: 3px;
}
.blog-bottom-info > ul li [class^="icon-"],
.blog-bottom-info > ul li [class*=" icon-"] {
    color: #adb2b6;
    float: left;
    font-size: 18px;
    margin-right: 3px;
    margin-top: -3px;
}
.blog-bottom-info #post-author {
    float: right;
    line-height: 54px;
    padding: 0 16px;
}
.blog-bottom-info #post-author i {
    font-size: 15pt;
    color: #7b6386;
    margin-right: 5px;
}
.blog-bottom-info:after,
.blog-bottom-info:before {
    content: " ";
    display: table;
}
.blog-bottom-info:after {
    clear: both;
}
.post-content h2 {
    padding: 15px 0 20px;
    position: relative;
    border-bottom: 1px solid rgba(123, 99, 134, 0.5);
    text-align: left;
    width: 100%;
}
.post-content h2::after {
    content: "";
    width: 82px;
    height: 5px;
    position: absolute;
    left: 0;
    bottom: -3px;
    background-color: #7b6386;
    -webkit-opacity: 0.8;
    -moz-opacity: 0.8;
    opacity: 0.8;
}
.post-content h2::before {
    content: "";
    clear: both;
    display: table;
}
.post-content img {
    max-width: 100%;
    margin-bottom: 25px;
}
.post-content img.right {
    float: right;
    margin-left: 15px;
}
.post-content img.left {
    float: left;
    margin-right: 15px;
}
.post-content .highlight-bold {
    font-weight: 700;
    font-size: 17px;
    line-height:27px;
    position: relative;
    margin-bottom: 40px;
}
.post-content .highlight-color {
    font-size: 21pt;
    color: #7b6386;
    line-height: 1.3;
    font-family: 'Dancing Script', cursive;
    font-weight: 300;
    margin-bottom: 40px;
}
.post-content p {
    margin-bottom: 40px;
    clear:both;
}
.post-content .quote {
    font-size: 25px;
    font-weight: 300;
    line-height: 35px;
    margin: 40px 0;
    padding: 30px 40px;
    position: relative;
    text-align: center;
    width: 100%;
    font-family: 'Dancing Script', cursive;
}
.post-content .quote:before,
.post-content .quote:after {
    color: #acacac;
    font-size: 48pt;
    font-weight: 700;
    position: absolute;
}
.post-content .quote:before {
    content: "\"";
    left: 30px;
    top: 23px;
}
.post-content .quote:after {
    bottom: -6px;
    content: "\"";
    right: 30px;
}
.post-content .quote span {
    color: #7b6386;
}
.share-wrapper {
    border: 1px solid #e3e3e3;
    margin: 70px 0 100px;
    padding: 0px 18px;
    width: 100%;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.share-wrapper h5 {
    display: inline-block;
    margin-right: 15px;
    margin: 0 15px 8px 0;
    position: relative;
    top: -2px;
}
.share-wrapper .sn-icons {
    float: none;
    display: inline-block;
    margin: 3px 0 8px 0;
    padding: 0;
}
.share-wrapper .sn-icons li {
    margin-left: 3px;
}
.share-wrapper .sn-icons li a {
    font-size: 12pt;
    height: 27px;
    width: 27px;
    line-height: 24px;
}
.share-wrapper .print-button {
    float: right;
    font-size: 15pt;
    padding-left: 20px;
    border-left: 1px solid #e3e3e3;
    color: #adb2b6;
    margin: 8px 0 !important;
}
.share-wrapper .print-button:hover {
    color: #7b6386;
}
/*.parallax h2.section-title:before,
.parallax h2.section-title:after {
    background-color: #fff !important;
}
.parallax h2.section-title {
    color: #fff !important;
}*/

.blog-main h2.section-title {
    font-family: 'Dancing Script', cursive;
    font-size: 32pt;
    text-transform: none;
    margin-bottom: 30px;
}
.blog-main h2.section-title .icon,
.blog-main h2.section-title .fa {
    margin: 0 7px;
    position: relative;
    top: 10px;
}
.blog-main h2.section-title::before,
.blog-main h2.section-title::after {
    display: none;
}
#respond {
    float: left;
    width: 100%;
}
#respond .comment-reply-title {
    padding: 0 15px;
    margin-bottom: 10px;
    float: left;
    width: 100%;
}
#respond .comment-reply-title a {
    background: transparent;
    border: 2px solid #fff;
    border-radius: 3px;
    color: #fff !important;
    float: right;
    font-family: "Open Sans Condensed", sans-serif;
    font-size: 12pt;
    margin-top: 10px;
    padding: 7px 15px;
    text-transform: uppercase;
}
#respond form {
    float: left;
    width: 100%;
}
#respond form .form-control {
    border-color: rgba(255, 255, 255, 0.7);
    color: #fff;
}
.comments #respond {
    position: relative;
    border: 8px solid transparent;
    border-radius: 4px;
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.5) inset;
    padding: 0;
    margin-top: 25px;
    margin-bottom: 60px;
    float: left;
    width: 100%;
    background: #7b6386;
}
.comments {
    margin-bottom: 20px;
    padding: 0 30px;
    float: left;
    width: 100%;
}
.comments h2 {
    font-family: 'Dancing Script', cursive;
    font-size: 32pt;
    text-transform: none;
    margin-bottom: 30px;
}
.comments h2.section-title .icon,
.comments h2.section-title .fa {
    margin: 0 7px;
    position: relative;
    top: 10px;
}
.comments h2.section-title::before,
.comments h2.section-title::after {
    display: none;
}
.comments .comments-list {
    display: inline-block;
    list-style: none;
    width: 100%;
    padding: 0;
}

.comments .comment-content {
    width: 100%;
    float: left;
}
.comments .comment-content .comment_image {
    border: 2px solid rgba(123, 99, 134, 0.5);
    width: 12%;
    min-height: 15px;
    display: inline-block;
    position: relative;
}
.comments .comment-content .comment_image::before {
    content: "";
    position: absolute;
    right: -30px;
    top: 31px;
    background-color: rgba(123, 99, 134, 0.5);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    box-sizing: border-box;
    display: block;
    height: 13px;
    width: 13px;
    z-index: 2;
    -webkit-transition: background-color 0.3s linear;
    -moz-transition: background-color 0.3s linear;
    -ms-transition: background-color 0.3s linear;
    -o-transition: background-color 0.3s linear;
    transition: background-color 0.3s linear;
}
.comments .comment-content .comment_image::after {
    content: "";
    position: absolute;
    right: -36px;
    top: 25px;
    background-color: #fff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 3px solid rgba(123, 99, 134, 0.5);
    box-sizing: border-box;
    display: block;
    height: 25px;
    width: 25px;
    z-index: 1;
}
.comments .comment-content .comment_image img {
    width: 100%;
}
.comments ul.children {
    float: left;
    width: 100%;
    padding-left: 15%;
    list-style: none;
}
.comments .comment-content .comment {
    float: right;
    position: relative;
    width: 77%;
    padding: 18px;
    margin-bottom: 35px;
    border: 2px solid rgba(123, 99, 134, 0.5);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.comments .comment-content .comment::before {
    content: "";
    position: absolute;
    background-color: #7b6386;
    display: block;
    width: 10%;
    height: 3px;
    top: 36px;
    left: -10%;
    -webkit-opacity: 0.5;
    -moz-opacity: 0.5;
    opacity: 0.5;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}
.comments .comment-content .comment h4 {
    border-bottom: 1px solid rgba(123, 99, 134, 0.5);
    margin-bottom: 15px;
    font-weight: 300;
    position: relative;
    text-transform: none;
    padding-bottom: 5px;
    z-index: -1;
}
.comments .comment-content .comment h4::after {
    content: "";
    width: 82px;
    height: 5px;
    position: absolute;
    left: 0;
    bottom: -3px;
    background-color: #7b6386;
    -webkit-opacity: 0.8;
    -moz-opacity: 0.8;
    opacity: 0.8;
}
.comments .comment-content .comment h4 small {
    display: block;
    font-size: 10pt;
    margin: 5px 0 10px;
    font-family: 'Open Sans', sans-serif;
}
.comments .comment-content .comment .comment-reply-link,
.comments .comment-content .comment .comment-edit-link {
    float: right;
    margin-bottom: 14px;
    z-index: 1;
    background: transparent;
    border: 2px solid rgba(123, 99, 134, 0.65);
    color: rgba(123, 99, 134, 0.65);
    font-size: 12pt;
    padding: 7px 15px;
    font-family: "Open Sans Condensed", sans-serif;
    text-transform: uppercase;
    border-radius: 3px;
    -webkit-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    z-index: 1;
}
.comments .comment-content .comment .comment-edit-link {
    margin-right: 5px;
}
.comments .comment-content .comment .comment-reply-link:hover,
.comments .comment-content .comment .comment-edit-link:hover,
.comments .comment-content .comment .comment-reply-link:focus,
.comments .comment-content .comment .comment-edit-link:focus {
    border-color: #7b6386;
    color: #7b6386;
    text-decoration: none;
}
.comments .comment-content .comment .btn {
    float: right;
    margin-bottom: 14px;
    position: relative;
    z-index: 1;
}


